/* height  */
:root {
    --page-height: 120vh;
    --page-width: calc(var(--page-height) / 1.4142135623730950488016887242097);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  padding: 1em;
  
}

.page{
    height: var(--page-height);
    width: var(--page-width);
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "aside main";
}

header {
    grid-area: header;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

header h1 {
    margin-bottom: 5px;
}

aside {
    grid-area: aside;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

main {
    grid-area: main;
    overflow-y: auto;
}