*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  padding: 1em;
  
}

.page{
    height: 95vh;
    width: calc(95vh / 1.4142135623730950488016887242097);
    margin: auto;
    background-color: white;
}